
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #FFFFFF;
}

#container, #page-wrapper {
  width: 100%;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto; 
  border: 5px solid #69c773;
  /* box-shadow: 0 2px 10px rgba(0,0,0,2); */
}

.fullscreen-container {
  display: none;
  margin: 0;
  width: 100%;
}

h1 {
  margin-top: 0;
}

#msg {
  font-size: 0.9em;
  line-height: 1.4em;
}

#msg.not-supported strong {
  color: #CC0000;
}

input[type="range"] {
  width: 90px;
}

label {
  display: inline-block;
  float: left;
  width: 90px;
}

.option {
  margin: 1em 0;
}

#buttons, button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 150px;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

}
#voiceConfig {
    border: 2px solid #69c773;
 }
 
#sendReceive {
  padding-left: 2em;
  padding-right: 1em;
  margin-left: 1em auto;
  margin-bottom: 0;
 width: auto;
 float: left; 
 border: 2px solid #FFFFFF;
 }
#local {
  padding-left: 2em;
  margin: 1em auto;
  width: auto;
  float: left; 
  border: 2px solid #FFFFFF;
	
}
#remote {
  padding-left: 2em;
  margin: 1em auto;
   width: auto;
   border: 2px solid #FFFFFF;
		
}

/*#localVideo {
    height: 200px;
	
}*/
#remoteVideo {
    height: 200px;
		
}

.roboticon {
  display: block;
  margin: auto;
}

textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
}

#hidden {
    visibility: hidden;
}