/*
html, body {
	width: 100%;
	height: 100%;
	background-image: url(inicio5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
*/
.jumbotron {
	background-color: transparent;
	text-align: center;
}

.jumbotron a {
	padding-left: 50px;
	padding-right: 50px;
}

