<!DOCTYPE html>
<html>
<head>
	<title><%= pagina %></title>
</head>
<body>
	<% include header %>	
		<%= for(var i = 0; i < nombres.length; i++) {%>
		<p><%= nombres[i] %></p>
	<% } %>
	<% include footer %>
</body>
</html>